[Unit]
Description=[ SN3D Bootloader ] Service
After=ssh.service

[Service]
# The dummy program will exit
Type=oneshot

WorkingDirectory=/SN3D/sn3d-project/sn3d-bootloader
ExecStart=/SN3D/sn3d-project/sn3d-bootloader/bin/build/sn3d_bootloader

User=root

# This service shall be considered active after start
RemainAfterExit=yes

[Install]
WantedBy=ssh.service
